<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Capoeiragem Ramonville</title>
  <link rel="stylesheet" href="/css/bulma.css"/>
</head>

<body>
  {% include "menu.html" %}
  <section class="section">
    <div class="content is-size-4">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
